@model Modelo.Cadastros.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando os dados de um PRODUTO";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Alteração dos dados de um PRODUTO
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Produtos/_PartialEditContentPanel.cshtml", Model)
        </div>
        <div class="panel-footer panel-info">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar alterações" class="btn btn-info" />
                @Html.ActionLink("Retornar para a listagem de PRODUTOS", "Index", null, new { @class = "btn btn-warning" })
            </div>
            <br />
            <br />
        </div>
    </div>
}

@section styles{
    <link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
}

@section ScriptPage {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.custom/datepicker-pt-BR.js"></script>
    <script>
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
            $("#datepicker").datepicker();
        });
    </script>
}